<div class="flex min-h-screen flex-col justify-center max-w-2xl mx-auto lg:px-8 bg-transparent pb-10">

  <h2 class="mt-8 text-center text-5xl font-bold tracking-tight text-[var(--mainText)] font-satoshi">Create an Account</h2>

  <div class="mx-auto w-full max-w-2xl mt-10">
    <form #signUpForm="ngForm" (ngSubmit)="signUp()">
      <div class="space-y-6 mb-4">
        <div class="flex w-full space-x-8">
          <div class="flex-1">
            <label for="firstName" class="block text-sm/6 font-medium text-[var(--mainText)]">First name</label>
            <div class="mt-2">
              <input type="text" name="firstName" id="firstName" #firstNameField="ngModel" [(ngModel)]="firstName" required pattern="[A-Za-z]+"
                     class="block w-full rounded-md bg-[var(--inputBox)] px-3 py-1.5 text-base text-[var(--mainText)]
                              placeholder:text-[var(--mainText)] focus:border-indigo-600 focus:ring-2 focus:ring-indigo-600 sm:text-sm" />
            </div>
            @if (firstNameField.dirty) {
              @if (firstName.length === 0) {
                <div class="mt-2">
                  <strong class="text-red-500 text-sm text-center">First name is required.</strong>
                </div>
              }
              @else {
                @if (firstNameField.invalid) {
                  <div class="mt-2">
                    <strong class="text-red-500 text-sm text-center">Please enter a valid first name.</strong>
                  </div>
                }
              }
            }
          </div>
          <div class="flex-1">
            <label for="lastName" class="block text-sm/6 font-medium text-[var(--mainText)]">Last name</label>
            <div class="mt-2">
              <input type="text" name="lastName" id="lastName" #lastNameField="ngModel" [(ngModel)]="lastName" required pattern="[A-Za-z]+"
                     class="block w-full rounded-md bg-[var(--inputBox)] px-3 py-1.5 text-base text-[var(--mainText)]
                              placeholder:text-[var(--mainText)] focus:border-indigo-600 focus:ring-2 focus:ring-indigo-600 sm:text-sm" />
            </div>
            @if (lastNameField.dirty) {
              @if (lastName.length === 0) {
                <div class="mt-2">
                  <strong class="text-red-500 text-sm text-center">Last name is required.</strong>
                </div>
              }
              @else {
                @if (lastNameField.invalid) {
                  <div class="mt-2">
                    <strong class="text-red-500 text-sm text-center">Please enter a valid last name.</strong>
                  </div>
                }
              }
            }
          </div>
        </div>

        <div class="flex w-full space-x-8">
          <div class="flex-1">
            <label for="phoneNumber" class="block text-sm/6 font-medium text-[var(--mainText)]">Phone number</label>
            <div class="mt-2">
              <input type="tel" name="phoneNumber" id="phoneNumber" #phoneNumberField="ngModel" [(ngModel)]="phoneNumber" mask="(000) 000-0000"
                     class="block w-full rounded-md bg-[var(--inputBox)] px-3 py-1.5 text-base text-[var(--mainText)]
                              placeholder:text-[var(--mainText)] focus:border-indigo-600 focus:ring-2 focus:ring-indigo-600 sm:text-sm" />
            </div>
            <div *ngIf="phoneNumberField.invalid" class="mt-2">
              <strong class="text-red-500 text-sm text-center">Please enter a valid phone number.</strong>
            </div>
          </div>
          <div class="flex-1">
            <label for="email" class="block text-sm/6 font-medium text-[var(--mainText)]">Email address</label>
            <div class="mt-2">
              <input type="text" name="email" id="email" #emailField="ngModel" [(ngModel)]="email" required pattern="[A-Za-z0-9]+@[A-Za-z0-9]+\.[A-Za-z0-9]+"
                     class="block w-full rounded-md bg-[var(--inputBox)] px-3 py-1.5 text-base text-[var(--mainText)]
                              placeholder:text-[var(--mainText)] focus:border-indigo-600 focus:ring-2 focus:ring-indigo-600 sm:text-sm" />
            </div>
            @if (emailField.dirty) {
              @if (email.length === 0) {
                <div class="mt-2">
                  <strong class="text-red-500 text-sm text-center">Email address is required.</strong>
                </div>
              }
              @else {
                @if (emailField.invalid) {
                  <div class="mt-2">
                    <strong class="text-red-500 text-sm text-center">Please enter a valid email address.</strong>
                  </div>
                }
              }
            }
          </div>
        </div>

        <div class="flex w-full space-x-8">
          <div class="flex-1">
            <label for="password" class="block text-sm/6 font-medium text-[var(--mainText)] flex items-center">Password
              <span class="relative group ml-1 cursor-pointer">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 text-black-500 group-hover:text-indigo-600" viewBox="0 0 24 24" fill="currentColor">
                  <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z"/>
                </svg>
                <span class="absolute left-1/2 transform -translate-x-1/2 bottom-full mb-1 hidden w-48 p-2 text-xs text-white bg-gray-900 rounded-md shadow-lg group-hover:block">
                  Password must be between 8 and 20 characters long and include an uppercase letter, lowercase letter, number, and special character.
                </span>
              </span>
            </label>
            <div class="mt-2">
              <input type="password" name="password" id="password" #passwordField="ngModel" [(ngModel)]="password" required minlength="8" maxlength="20"
                     pattern="^(?=.*[A-Z])(?=.*[a-z])(?=.*\d)(?=.*[\W_])[^\s]+$"
                     class="block w-full rounded-md bg-[var(--inputBox)] px-3 py-1.5 text-base text-[var(--mainText)]
                              placeholder:text-[var(--mainText)] focus:border-indigo-600 focus:ring-2 focus:ring-indigo-600 sm:text-sm" />
            </div>
            @if (passwordField.dirty) {
              @if (password.length === 0) {
                <div class="mt-2">
                  <strong class="text-red-500 text-sm text-center">Password is required.</strong>
                </div>
              }
              @else {
                @if (passwordField.invalid) {
                  <div class="mt-2">
                    <strong class="text-red-500 text-sm text-center">Please enter a valid password.</strong>
                  </div>
                }
              }
            }
          </div>
          <div class="flex-1">
            <label for="confirmPassword" class="block text-sm/6 font-medium text-[var(--mainText)]">Confirm password</label>
            <div class="mt-2">
              <input type="password" name="confirmPassword" id="confirmPassword" #confirmPasswordField="ngModel"
                     [(ngModel)]="confirmPassword" required minlength="8" maxlength="20"
                     class="block w-full rounded-md bg-[var(--inputBox)] px-3 py-1.5 text-base text-[var(--mainText)]
                              placeholder:text-[var(--mainText)] focus:border-indigo-600 focus:ring-2 focus:ring-indigo-600 sm:text-sm" />
            </div>
            <div *ngIf="confirmPasswordField.dirty && password !== confirmPassword" class="mt-2">
              <strong class="text-red-500 text-sm text-center">Passwords do not match.</strong>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center">
        <strong *ngIf="invalidDetails" class="text-red-500 text-sm">
          User already exists! Please enter a different email address.
        </strong>
      </div>
      <div class="w-1/3 mx-auto mb-9" [ngClass]="{'mt-4': invalidDetails, 'mt-8': !invalidDetails}">
        <button type="submit" [disabled]="signUpForm.invalid || password !== confirmPassword"
                class="flex w-full justify-center rounded-md bg-[var(--button)] mb-8 px-3 py-1.5
                        text-sm/6 font-semibold text-white shadow-xs hover:bg-[var(--buttonHover)] hover:text-[var(--buttonTextHover)]
                        disabled:bg-[var(--buttonDisabled)] disabled:text-[var(--buttonDisabledText)] disabled:cursor-not-allowed focus-visible:outline-2
                        focus-visible:outline-offset-2 focus-visible:outline-indigo-600 mt-16">Sign Up</button>
      </div>
    </form>
  </div>
</div>
