/* You can add global styles to this file, and also import other style files */
:root {
    --neutral: #FFFFFF;  /* Define the variable */
    --accent: #9B6DCC;
    --secondary: #000000;
    --llgrey: #F0F0F1;
    --ldgrey: #cccccc;
    --dlgrey: #8A8A8E;
    --ddgrey: #2C2C2C;
}
.font-inter {
    font-family: 'Inter', sans-serif;
}

.min-w-36 {
    min-width: 9rem;
}

.w-80 {
    width: 20rem;
}

.font-custom {
    font-weight: 450;
}

.-ms-clear {
    display: none;
    width: 0;
    height: 0;
}

.no-clear::-webkit-search-cancel-button {
    display: none;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
  }