/* You can add global styles to this file, and also import other style files */
:root {
    --neutral: #000000;  /* Define the variable */
    --accent: #9B6DCC;
    --secondary: #fff5e2;
    --llgrey: #F0F0F1;
    --ldgrey: #cccccc;
    --dlgrey: #8A8A8E;
    --ddgrey: #2C2C2C;

    --mainBg: #0a0a0a;
    --mainText: #e7e7e7;
    --secondaryText: #7a7a7a;


    --inputBox: #181818;
    --placeholderText: #4d4d4d;
}


@font-face {
  font-family: 'Satoshi';
  src: url('/assets/fonts/satoshi/Satoshi-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi';
  src: url('/assets/fonts/satoshi/Satoshi-BlackItalic.otf') format('opentype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Satoshi';
  src: url('/assets/fonts/satoshi/Satoshi-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi';
  src: url('/assets/fonts/satoshi/Satoshi-BoldItalic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Satoshi';
  src: url('/assets/fonts/satoshi/Satoshi-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi';
  src: url('/assets/fonts/satoshi/Satoshi-MediumItalic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Satoshi';
  src: url('/assets/fonts/satoshi/Satoshi-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi';
  src: url('/assets/fonts/satoshi/Satoshi-Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Satoshi';
  src: url('/assets/fonts/satoshi/Satoshi-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi';
  src: url('/assets/fonts/satoshi/Satoshi-LightItalic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
}



.font-inter {
    font-family: 'Inter', sans-serif;
}

body {
    color: white;
}
.min-w-36 {
    min-width: 9rem;
}

.w-80 {
    width: 20rem;
}

.font-custom {
    font-weight: 450;
}

.-ms-clear {
    display: none;
    width: 0;
    height: 0;
}

.no-clear::-webkit-search-cancel-button {
    display: none;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
