
    <div class="flex flex-col gap-2 w-48 mb-6" [ngClass]="dropDown ? 'text-[var(--ddgrey)]' : 'text-[var(--dlgrey)]'">
        <div class="hover:text-[var(--buttonTextHover)] flex justify-between cursor-pointer" (click)="toggleDropDown()" >
            <div class="text-lg">
                {{filter1}}
            </div>
            <button>
              <svg *ngIf="dropDown" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" width="24" height="24">
                <line x1="12" y1="5" x2="12" y2="19"></line>
                <polyline points="5 12 12 19 19 12"></polyline>
              </svg>
              <svg *ngIf="!dropDown" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" width="24" height="24">
                <line x1="5" y1="12" x2="19" y2="12"></line>
                <polyline points="13 6 19 12 13 18"></polyline>
              </svg>
            </button>
        </div>
        <div *ngIf="dropDown" class="flex flex-col justify-between gap-2 mt-2">
            <form onsubmit="">
                <div class="flex gap-1 bg-[var(--llgrey)] p-1 pr-3 rounded-full min-w-0 mr-16">
                    <input type="search"  [placeholder]="filter1" class="bg-transparent border-0 outline-none px-3 no-clear w-full text-md text-[var(--ddgrey)]">
                    <button type="submit"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" width="20" height="20" stroke-width="2"> <path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0"></path> <path d="M21 21l-6 -6"></path> </svg>
                    </button>
                </div>
            </form>
            <div class="flex max-w-full gap-2 flex-wrap">
                <div *ngFor="let query of filterQuerys; let i = index" class="text-[var(--neutral)] bg-[var(--ddgrey)] py-1 px-2 mx-1 rounded-md text-sm flex items-center gap-1" [id]="i">
                    <svg xmlns="http://www.w3.org/2000/svg" (click)="removeQuery(i)" class="cursor-pointer" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" width="16" height="16" stroke-width="3"> <path d="M5 5l3.585 3.585a4.83 4.83 0 0 0 6.83 0l3.585 -3.585"></path> <path d="M5 19l3.585 -3.585a4.83 4.83 0 0 1 6.83 0l3.585 3.584"></path> </svg>
                    {{query}}
                </div>
            </div>
        </div>
    </div>
