
    <div class="flex flex-col gap-2 w-48 mb-6" [ngClass]="dropDown ? 'text-[var(--ddgrey)]' : 'text-[var(--dlgrey)]'">
        <div class="flex justify-between cursor-pointer" (click)="toggleDropDown()" >
            <div class="text-lg ">
                {{filter1}}
            </div>
            <button>
                <svg *ngIf="dropDown" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" width="24" height="24" stroke-width="2"> <path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0"></path> <path d="M8 12l4 4"></path> <path d="M12 8v8"></path> <path d="M16 12l-4 4"></path> </svg>
                <svg *ngIf="!dropDown" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" width="24" height="24" stroke-width="2"> <path d="M12 3a9 9 0 1 0 0 18a9 9 0 0 0 0 -18"></path> <path d="M16 12l-4 -4"></path> <path d="M16 12h-8"></path> <path d="M12 16l4 -4"></path> </svg>
            </button>
        </div>
        <div *ngIf="dropDown" class="flex flex-col justify-between gap-2 mt-2">
            <form onsubmit="">
                <div class="flex gap-1 bg-[var(--llgrey)] p-1 pr-3 rounded-full min-w-0 mr-16">
                    <input type="search"  [placeholder]="filter1" class="bg-transparent border-0 outline-none px-3 no-clear w-full text-md text-[var(--ddgrey)]">
                    <button type="submit"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" width="20" height="20" stroke-width="2"> <path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0"></path> <path d="M21 21l-6 -6"></path> </svg>
                    </button>
                </div>
            </form>
            <div class="flex max-w-full gap-2 flex-wrap">
                <div *ngFor="let query of filterQuerys; let i = index" class="text-[var(--neutral)] bg-[var(--ddgrey)] py-1 px-2 mx-1 rounded-md text-sm flex items-center gap-1" [id]="i">
                    <svg xmlns="http://www.w3.org/2000/svg" (click)="removeQuery(i)" class="cursor-pointer" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" width="16" height="16" stroke-width="3"> <path d="M5 5l3.585 3.585a4.83 4.83 0 0 0 6.83 0l3.585 -3.585"></path> <path d="M5 19l3.585 -3.585a4.83 4.83 0 0 1 6.83 0l3.585 3.584"></path> </svg>
                    {{query}}
                </div>
            </div>
        </div>
    </div>
