
      <div class="flex flex-col gap-2 w-48 mb-6" [ngClass]="expanded ? 'text-[var(--secondaryText)]' : 'text-[var(--mainText)]'">
        <div class="hover:text-[var(--buttonTextHover)] flex justify-between cursor-pointer">
            <div class="text-lg" (click)="expanded = !expanded">
                {{name}}
            </div>
            <div class="mt-0.5">
            <button (click)="expanded = !expanded">
              <svg *ngIf="expanded" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" width="24" height="24">
                <line x1="12" y1="5" x2="12" y2="19"></line>
                <polyline points="5 12 12 19 19 12"></polyline>
              </svg>
              <svg *ngIf="!expanded" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" width="24" height="24">
                <line x1="5" y1="12" x2="19" y2="12"></line>
                <polyline points="13 6 19 12 13 18"></polyline>
              </svg>
            </button>
            </div>
        </div>
        <div *ngIf="expanded" class="flex flex-col justify-between gap-2 mt-2">
            @if (type == "dropdown") {
                <div class="flex gap-1 bg-[var(--llgrey)] p-1 pr-3 rounded-lg w-full mr-16">
                    <input type="text" [placeholder]="name" [(ngModel)]="searchInput" (focus)="dropdownToggle = true"
                           class="bg-transparent border-0 outline-none px-3 no-clear w-full text-md text-[var(--ddgrey)]">
                    <button (click)="dropdownToggle = !dropdownToggle">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" width="20" height="20" stroke-width="2"> <path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0"></path> <path d="M21 21l-6 -6"></path> </svg>
                    </button>
                </div>
                <div id="dropdown-menu"
                     class="right-0 rounded-md bg-white shadow-lg ring-1 ring-black/5" [ngClass]="{'mt-2 py-1': dropdownToggle}">
                  <button *ngFor="let option of dropdownValues | search: searchInput" (click)="addFilteredDropdownValue(option)" [ngClass]="{'hidden': !dropdownToggle}"
                          class="w-full block p-1 px-4 text-base text-gray-700 hover:bg-[var(--buttonHover)] hover:text-white">{{option}}</button>
                </div>
                <div class="flex max-w-full gap-2 flex-wrap">
                    <div *ngFor="let query of filteredDropdownValues; let i = index" class="text-[var(--neutral)] bg-[var(--dlgrey)] py-1 px-2 mx-1 rounded-md text-sm flex items-center gap-1" [id]="i">
                        <svg xmlns="http://www.w3.org/2000/svg" (click)="removeQuery(i)" class="cursor-pointer" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" width="16" height="16" stroke-width="3"> <path d="M5 5l3.585 3.585a4.83 4.83 0 0 0 6.83 0l3.585 -3.585"></path> <path d="M5 19l3.585 -3.585a4.83 4.83 0 0 1 6.83 0l3.585 3.584"></path> </svg>
                        {{query}}
                    </div>
                </div>
            }
            @else if (type == "range") {
                <div class="flex gap-2">
                    <div class="w-1/2">
                        <p class="text-[var(--llgrey)] mb-1">From</p>
                        <div class="flex">
                            <input type="number" min="0" [(ngModel)]="minValueInput" (change)="update()"
                                   class="w-full bg-[var(--llgrey)] text-[var(--ddgrey)] px-2 py-1 rounded-md">
                            <p class="p-1 text-[var(--llgrey)]">{{rangeSymbol}}</p>
                        </div>
                    </div>
                    <div class="w-1/2">
                        <p class="text-[var(--llgrey)] mb-1">To</p>
                        <div class="flex">
                            <input type="number" min="0" [(ngModel)]="maxValueInput" (change)="update()"
                                   class="w-full bg-[var(--llgrey)] text-[var(--ddgrey)] px-2 py-1 rounded-md">
                            <p class="p-1 text-[var(--llgrey)]">{{rangeSymbol}}</p>
                        </div>
                    </div>
                </div>
            }
            @else if (type == "checkbox") {
                <button *ngFor="let option of checkboxValues" (click)="option.status = !option.status; update()"
                        class="flex items-center ml-2 text-white">

                  <svg *ngIf="option.status" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
                       fill="currentColor" stroke="currentColor" stroke-width="2" class="border-2 rounded-md fill-current text-white">
                    <rect width="24" height="24" rx="4" ry="4" />
                    <polyline points="5 12 10 17 19 8" fill="none" stroke="black" stroke-width="3"/>
                  </svg>
                  <svg *ngIf="!option.status" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
                       fill="currentColor" stroke="currentColor" stroke-width="2" class="border-2 rounded-md">

                  </svg>
                  <p class="ml-2">{{option.value}}</p>
                </button>
            }
        </div>
    </div>
