<div class="flex flex-col px-20 py-2 gap-10 py-32 font-satoshi">
    <div class="flex justify-between mx-12">
        <div class="text-4xl font-semibold text-[var(--mainText)]">{{essayTitle}}</div>
        <div class="flex justify-center gap-4">
            <button class="flex justify-center items-center w-12 h-12 bg-[var(--mainBg)] rounded-full">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" width="32" height="32" stroke-width="1.5"> <path d="M6 4h10l4 4v10a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2"></path> <path d="M12 14m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"></path> <path d="M14 4l0 4l-6 0l0 -4"></path> </svg>
            </button>
            <button class="flex justify-center items-center w-12 h-12 bg-[var(--mainBg)] rounded-full">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" width="24" height="24" stroke-width="2"> <path d="M14 3v4a1 1 0 0 0 1 1h4"></path> <path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z"></path> <path d="M12 17v-6"></path> <path d="M9.5 14.5l2.5 2.5l2.5 -2.5"></path> </svg>
            </button>
            <button class="flex justify-center items-center w-12 h-12 bg-[var(--mainBg)] rounded-full">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" width="24" height="24" stroke-width="2"> <path d="M19 18a3.5 3.5 0 0 0 0 -7h-1a5 4.5 0 0 0 -11 -2a4.6 4.4 0 0 0 -2.1 8.4"></path> <path d="M12 13l0 9"></path> <path d="M9 19l3 3l3 -3"></path> </svg>
            </button>
            <button class="flex justify-center items-center w-12 h-12 bg-[var(--mainBg)] rounded-full">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" width="24" height="24" stroke-width="2"> <path d="M12 5l0 14"></path> <path d="M5 12l14 0"></path> </svg>
            </button>
        </div>
    </div>
    <div class="flex gap-8 mx-12">
        <div class="w-[70%] bg-[var(--essayBg)] min-h-[700px] rounded-md">
<!--          <textarea [(ngModel)]="essayText" class="w-full h-full p-10 bg-[var(&#45;&#45;essayBg)] text-[var(&#45;&#45;mainText)] rounded-md"></textarea>-->
          <editor
                      [(ngModel)]="essayText"
                      apiKey=environment.tinymceApiKey
                      [init]="{
              height: 700,
              menubar: false,
              plugins: 'advlist autolink lists link charmap preview anchor searchreplace visualblocks code fullscreen insertdatetime media table paste help wordcount',
              toolbar: 'undo redo | formatselect | bold italic underline | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | removeformat | help',
              content_style: 'body { font-family:Inter,sans-serif; font-size:16px }'
            }"
          ></editor>

        </div>
        <div class="flex w-[30%] flex-col justify-between bg-[var(--essayBg)] self-start h-[700px]">
            <div class="w-full py-3 px-8 text-2xl rounded-md mt-3 my-2">
                Essay Bot
            </div>

            <div id="tobechanged" class="min-h-0 overflow-y-auto scrollbar-hide p-2 flex flex-col flex-grow gap-2 my-2 mx-4">
                <div *ngFor="let log of chatLog; let i = index">
                    @if(log=="Loading...") {
                    } @else {
                        <div *ngIf="i%2 == 0" class="w-fit bg-[var(--accent)] shadow-md px-3 py-1 m-1 mr-4 rounded-md">{{log}}</div>
                        <div *ngIf="i%2 == 1" class="justify-self-end w-fit bg-[var(--accent)] shadow-sm px-3 py-1 m-1 ml-4 rounded-md">{{log}}</div>
                    }
                </div>
            </div>
            <div>
                <form name="searchForm" (ngSubmit)="submitMessage()">
                    <input type="search" name="message" [(ngModel)]="message" placeholder="Type a message..." class="border-0 outline-none py-2 px-4 no-clear w-full text-[var(--ddgrey)] text-lg shadow rounded-b-md" >
                    <input type="submit" style="display: none;">
                </form>
            </div>
        </div>
    </div>
</div>
<button (click)="submitMessage()">Start Listening</button>
<div *ngFor="let log of chatLog" class="p-2">
    {{ log }}
</div>
