<div class="flex flex-col items-center py-12 px-[10%] pb-[18%] text-[var(--mainText)]">
    <div class="flex flex-col justify-center relative mt-[5%] w-full">
        <img class="rounded-lg h-80 w-full object-cover" src="/assets/college_main.png" alt="{{college?.name}}">
        <div class="flex items-center gap-4 mt-[-5%] ml-[4%] font-satoshi">
            <div class="bg-white rounded-lg w-48">
                <img class="w-full h-full object-contain" src="{{college?.logo_src}}" alt="{{college?.name}}">
            </div>
            <div class="text-left ml-2 container self-end">
                <h1 class="font-bold text-4xl min-w-0 whitespace-nowrap overflow-hidden truncate">
                    {{college?.name}}
                </h1>
                <div class="text-2xl text-[var(--secondaryText)]">{{college?.location}}</div>
            </div>
        </div>
    </div>
    <div class="w-full flex px-[2%] mt-[6%]">
        <div class="flex flex-col gap-12 flex-shrink-0  pl-4 pr-12 font-satoshi">
            <div class="flex gap-6 items-center justify-left">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="var(--mainText)" stroke-linecap="round" stroke-linejoin="round" width="64" height="64" stroke-width="1.5"> <path d="M7 5m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"></path> <path d="M5 22v-5l-1 -1v-4a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v4l-1 1v5"></path> <path d="M17 5m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"></path> <path d="M15 22v-4h-2l2 -6a1 1 0 0 1 1 -1h2a1 1 0 0 1 1 1l2 6h-2v4"></path> </svg>
                <div class="flex flex-col justify-center gap min-h-0">
                    <div class="text-2xl">{{college?.undergradPopulation}}</div>
                    <div class="text-lg text-[var(--secondaryText)]">Student Population</div>
                </div>
            </div>
            <div class="flex gap-6 items-center justify-left">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="var(--mainText)" stroke-linecap="round" stroke-linejoin="round" width="64" height="64" stroke-width="1.5"> <path d="M14 3v4a1 1 0 0 0 1 1h4"></path> <path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z"></path> <path d="M9 15l2 2l4 -4"></path> </svg>
                <div class="flex flex-col justify-center gap min-h-0">
                    <div class="text-2xl">{{college?.acceptanceRate}}</div>
                    <div class="text-lg text-[var(--secondaryText)]">Acceptance Rate</div>
                </div>
            </div>
            <div class="flex gap-6 items-center justify-left">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="var(--mainText)" stroke-linecap="round" stroke-linejoin="round" width="64" height="64" stroke-width="1.5"> <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path> <path d="M14.8 9a2 2 0 0 0 -1.8 -1h-2a2 2 0 1 0 0 4h2a2 2 0 1 1 0 4h-2a2 2 0 0 1 -1.8 -1"></path> <path d="M12 7v10"></path> </svg>
                <div class="flex flex-col justify-center gap min-h-0">
                    <div class="text-2xl ">{{college?.avgTuitionAnnually}}</div>
                    <div class="text-lg text-[var(--secondaryText)]">Tuition</div>
                </div>
            </div>
            <div class="flex gap-6 items-center justify-left">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="var(--mainText)" stroke-linecap="round" stroke-linejoin="round" width="64" height="64" stroke-width="1.5"> <path d="M22 9l-10 -4l-10 4l10 4l10 -4v6"></path> <path d="M6 10.6v5.4a6 3 0 0 0 12 0v-5.4"></path> </svg>
                <div class="flex flex-col justify-center gap min-h-0">
                    <div class="text-2xl ">{{college?.gradeRate}}</div>
                    <div class="text-lg text-[var(--secondaryText)]">Graduation Rate</div>
                </div>
            </div>
        </div>
        <div class="pl-12 text-xl w-full bg-[var(--buttonDisabled)]  p-4">{{college?.description}}</div>
    </div>
</div>
