<div class="flex flex-col items-center py-12 px-[10%] pb-[18%] text-[var(--mainText)]">
    <div class="flex flex-col justify-center relative mt-[5%] w-full">
        <button
          (click)="goBack()"
          class="mb-6 px-4 py-2 bg-[var(--resourceBackground)] text-white rounded-lg hover:bg-gray-600 transition self-start"
        >
          ← Back
        </button>
        <img class="rounded-lg h-80 w-full object-cover" src="/assets/college_main.png" alt="{{college?.name}}">
        <div class="flex items-center gap-4 mt-[-5%] ml-[4%] font-satoshi">
            <div class="bg-white rounded-lg w-48">
                <img class="w-full h-full object-contain" src="{{college?.logo_src}}" alt="{{college?.name}}">
            </div>
            <div class="text-left ml-2 container self-end">
                <h1 class="font-bold text-4xl min-w-0 whitespace-nowrap overflow-hidden truncate">
                    {{college?.name}}
                </h1>
                <div class="text-2xl text-[var(--secondaryText)]">{{college?.location}}</div>
            </div>
        </div>
    </div>
    <div class="w-full flex px-[2%] mt-[6%]">
        <div class="flex flex-col gap-12 flex-shrink-0  pl-4 pr-12 font-satoshi">
            <div class="flex gap-6 items-center justify-left">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="var(--mainText)" stroke-linecap="round" stroke-linejoin="round" width="64" height="64" stroke-width="1.5"> <path d="M7 5m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"></path> <path d="M5 22v-5l-1 -1v-4a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v4l-1 1v5"></path> <path d="M17 5m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"></path> <path d="M15 22v-4h-2l2 -6a1 1 0 0 1 1 -1h2a1 1 0 0 1 1 1l2 6h-2v4"></path> </svg>
                <div class="flex flex-col justify-center gap min-h-0">
                    <div class="text-2xl">{{college?.undergradPopulation}}</div>
                    <div class="text-lg text-[var(--secondaryText)]">Student Population</div>
                </div>
            </div>
            <div class="flex gap-6 items-center justify-left">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="var(--mainText)" stroke-linecap="round" stroke-linejoin="round" width="64" height="64" stroke-width="1.5"> <path d="M14 3v4a1 1 0 0 0 1 1h4"></path> <path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z"></path> <path d="M9 15l2 2l4 -4"></path> </svg>
                <div class="flex flex-col justify-center gap min-h-0">
                    <div class="text-2xl">{{college?.acceptanceRate}}%</div>
                    <div class="text-lg text-[var(--secondaryText)]">Acceptance Rate</div>
                </div>
            </div>
            <div class="flex gap-6 items-center justify-left">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="var(--mainText)" stroke-linecap="round" stroke-linejoin="round" width="64" height="64" stroke-width="1.5"> <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path> <path d="M14.8 9a2 2 0 0 0 -1.8 -1h-2a2 2 0 1 0 0 4h2a2 2 0 1 1 0 4h-2a2 2 0 0 1 -1.8 -1"></path> <path d="M12 7v10"></path> </svg>
                <div class="flex flex-col justify-center gap min-h-0">
                    <div class="text-2xl ">${{Number(college?.avgTuitionAnnually).toLocaleString()}}</div>
                    <div class="text-lg text-[var(--secondaryText)]">Tuition</div>
                </div>
            </div>
            <div class="flex gap-6 items-center justify-left">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="var(--mainText)" stroke-linecap="round" stroke-linejoin="round" width="64" height="64" stroke-width="1.5"> <path d="M22 9l-10 -4l-10 4l10 4l10 -4v6"></path> <path d="M6 10.6v5.4a6 3 0 0 0 12 0v-5.4"></path> </svg>
                <div class="flex flex-col justify-center gap min-h-0">
                    <div class="text-2xl ">{{college?.gradeRate}}</div>
                    <div class="text-lg text-[var(--secondaryText)]">Graduation Rate</div>
                </div>
            </div>
        </div>
        <div class=" text-lg w-full bg-[var(--resourceBackground)] p-6 px-7 rounded-xl text-white">{{college?.description}}</div>
    </div>
  <div class="w-full px-[2%] pt-16 font-satoshi text-white">
    <div class="font-bold text-3xl mb-6 text-white">More Information</div>

    <div class="grid grid-cols-1 md:grid-cols-3 gap-8 text-lg">

      <!-- General Info -->

      <div class="bg-[var(--resourceBackground)] p-5 px-6 rounded-xl shadow">
        <div class="font-bold text-2xl mb-2">Campus Info</div>
        <div>Majors Available: <span class="font-medium" [ngClass]="{'text-[var(--secondaryText)]': college?.majorsAvailable === 'Not available'}">{{college?.majorsAvailable}}</span></div>
        <div>College Type: <span class="font-medium" [ngClass]="{'text-[var(--secondaryText)]': college?.type === 'Not available'}">{{college?.type}}</span></div>
        <div>Campus: <span class="font-medium" [ngClass]="{'text-[var(--secondaryText)]': college?.campusLife === 'Not available'}">{{college?.campusLife}}</span></div>
        <div>Student to Faculty Ratio: <span class="font-medium" [ngClass]="{'text-[var(--secondaryText)]': college?.studentToFacultyRatio === 'Not available'}">{{college?.studentToFacultyRatio}}</span></div>
        <div>Retention Rate Majors Avail: <span class="font-medium" [ngClass]="{'text-[var(--secondaryText)]': college?.retentionRateMajorsAvail === 'Not available'}">{{college?.retentionRateMajorsAvail}}</span></div>
      </div>

      <div class="bg-[var(--resourceBackground)] p-5 px-6 rounded-xl shadow">
        <div class="font-bold text-2xl mb-2">Contact Info</div>
        <div>Phone: <span class="font-medium" [ngClass]="{'text-[var(--secondaryText)]': college?.phoneNumber === 'Phone number not available'}">{{college?.phoneNumber}}</span></div>
        <div>Address: <span class="font-medium" [ngClass]="{'text-[var(--secondaryText)]': college?.address === 'Not available'}">{{college?.address}}</span></div>
      </div>

      <!-- Academics -->
      <div class="bg-[var(--resourceBackground)] p-5 px-6 rounded-xl shadow">
        <div class="font-bold text-2xl mb-2">Academics</div>
        <div>Required Rank: <span class="font-medium" [ngClass]="{'text-[var(--secondaryText)]': college?.reqRank === 'Not available'}">{{college?.reqRank}}</span></div>
        <div>Required GPA: <span class="font-medium" [ngClass]="{'text-[var(--secondaryText)]': college?.reqGPA === 'Not available'}">{{college?.reqGPA}}</span></div>
        <div>Required ACT/SAT: <span class="font-medium" [ngClass]="{'text-[var(--secondaryText)]': college?.reqACT_SAT === 'Not available'}">{{college?.reqACT_SAT}}</span></div>
      </div>

      <!-- Financial Metrics -->
      <div class="bg-[var(--resourceBackground)] p-5 px-6 rounded-xl shadow">
        <div class="font-bold text-2xl mb-2">Avg Finance Metrics</div>
        <div>Tuition Annually: <span class="font-medium" [ngClass]="{'text-[var(--secondaryText)]': college?.avgTuitionAnnually === 'Not available'}">{{college?.avgTuitionAnnually}}</span></div>
        <div>Tuition After Aid: <span class="font-medium" [ngClass]="{'text-[var(--secondaryText)]': college?.avgTuitionAfterAid === 'Not available'}">{{college?.avgTuitionAfterAid}}</span></div>
        <div>Aid Pack: <span class="font-medium" [ngClass]="{'text-[var(--secondaryText)]': college?.avgAidPack === 'Not available'}">{{college?.avgAidPack}}</span></div>
        <div>Housing Cost: <span class="font-medium"[ngClass]="{'text-[var(--secondaryText)]': college?.avgHousingCost === 'Not available'}" >{{college?.avgHousingCost}}</span></div>
      </div>

      <!-- Deadlines -->
      <div class="bg-[var(--resourceBackground)] p-5 px-6 rounded-xl shadow md:col-span-2">
        <div class="font-bold text-2xl mb-2">Deadlines</div>
        <div>Application Due: <span class="font-medium" [ngClass]="{'text-[var(--secondaryText)]': college?.regAppDueDate === 'Not available'}">{{college?.regAppDueDate}}</span></div>
        <div>Financial Aid Due: <span class="font-medium" [ngClass]="{'text-[var(--secondaryText)]': college?.financialAidAppDueDate === 'Not available'}">{{college?.financialAidAppDueDate}}</span></div>
      </div>

      <!-- Application Link -->
      <div class="bg-[var(--resourceBackground)] p-4 rounded-2xl shadow flex items-center justify-center hover:bg-[var(--accent)]">
        <a [href]="college?.applicationLink" target="_blank" class="text-lg font-semibold transition">
          Apply Here
        </a>
      </div>


    </div>
  </div>

</div>
