<a [routerLink]="['/resources', id]" routerLinkActive="active">

  <div
    [@cardHover]="hoverState"
    (mouseenter)="hoverState = 'yes'"
    (mouseleave)="hoverState = 'no'"
    [@fadeInStagger]
    class="shadow-xl rounded-md flex flex-row justify-start bg-[var(--cardBackground)] min-h-40  font-satoshi p-3 border-b-8 border-[var(--accent)]">


    <div class="relative flex flex-row flex-grow justify-between px-4 py-3 ">
      <div class="flex flex-col flex-1/2">
        <p class="leading-5 font-bold text-lg text-[var(--mainText)]"
           >{{name}}</p>
        <div class="mt-1 text-sm text-[var(--mainText)] ">{{info.includes(',') ? 'Multiple countries' : info}}</div>
        <div class="text-xs text-[var(--secondaryText)] ">{{org}}</div>
      </div>

      <div class="absolute bottom-0 right-0">
        <button (click)="bookmarkScholarship(id, $event)">
          <svg *ngIf="isBookmarked" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
               fill="var(--accent)" stroke="currentColor" stroke-width="0">
            <path d="M18 7v14l-6 -4l-6 4v-14a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4z" />
          </svg>
          <svg *ngIf="!isBookmarked" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
               fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path d="M12 17l-6 4v-14a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v5" />
            <path d="M16 19h6" />
            <path d="M19 16v6" />
          </svg>
        </button>
      </div>
    </div>
  </div>

</a>
