<div class="z-20 flex min-h-screen flex-col justify-center max-w-2xl mx-auto lg:px-8 bg-transparent pb-10">
  <h2 class="mt-8 text-center text-5xl font-bold tracking-tight text-[var(--mainText)] font-satoshi">Sign In</h2>

  <div class="mt-10 mx-auto w-full max-w-sm">
    <form class="space-y-6 mb-4" #signInForm="ngForm" (ngSubmit)="signIn()">
      <div>
        <label for="email" class="block text-sm/6 font-medium text-[var(--mainText)]">Email address</label>
        <div class="mt-2">
          <input
            type="text"
            name="email"
            id="email"
            #emailField="ngModel"
            [(ngModel)]="email"
            required
            pattern="[A-Za-z0-9]+@[A-Za-z0-9]+\.[A-Za-z0-9]+"
            placeholder="Enter your email"
            class="block w-full rounded-md bg-[var(--inputBox)] px-3 py-1.5 text-base text-[var(--mainText)] placeholder:text-[var(--mainText)] sm:text-sm"
          />
        </div>
        @if (emailField.dirty && emailField.invalid) {
        <div class="mt-2">
          <strong class="text-red-500 text-sm text-center">Please enter a valid email address.</strong>
        </div>
        }
      </div>

      <div>
        <label for="password" class="block text-sm/6 font-medium text-[var(--mainText)]">Password</label>
        <div class="mt-2">
          <input
            type="password"
            name="password"
            id="password"
            #passwordField="ngModel"
            [(ngModel)]="password"
            required
            minlength="8"
            placeholder="Enter your password"
            class="block w-full rounded-md bg-[var(--inputBox)] px-3 py-1.5 text-base text-[var(--mainText)] placeholder:text-[var(--mainText)] sm:text-sm"
          />
        </div>
        @if (passwordField.dirty && passwordField.invalid) {
        <div class="mt-2">
          <strong class="text-red-500 text-sm text-center">Please enter a valid password.</strong>
        </div>
        }
      </div>

      <div class="w-1/2 mx-auto mb-6 mt-16">
        <button
          type="submit"
          [disabled]="signInForm.invalid"
          class="flex w-full justify-center rounded-md bg-[var(--button)] mx-auto py-1.5
                 text-sm/6 font-semibold text-white shadow-xs hover:bg-[var(--buttonHover)]
                 hover:text-[var(--buttonTextHover)] disabled:bg-[var(--buttonDisabled)]
                 disabled:text-[var(--buttonDisabledText)] disabled:cursor-not-allowed
                 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 mt-10"
        >
          Sign In
        </button>
      </div>
    </form>

    <div class="mt-5 mb-4 text-center">
      <strong *ngIf="invalidCredentials" class="text-red-500 text-sm">
        Invalid credentials! Please try again.
      </strong>
    </div>
    <a routerLink="/sign-up" routerLinkActive="active"
       >
      <p class="mb-8 text-center text-base text-[var(--accent)] hover:underline">
        Don't have an account?
      </p>
    </a>
  </div>
</div>
